<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Déclarations de beans -->
    <bean id="role" class="com.gescom.model.Role"/>
    <bean id="rolehome" class="com.gescom.dao.RoleHome"/>
    
    <bean id="utilisateur" class="com.gescom.model.Utilisateur"/>
    <bean id="utilisateurhome" class="com.gescom.dao.UtilisateurHome"/>
    
    <bean id="famille" class="com.gescom.model.Famille"/>
    <bean id="famillehome" class="com.gescom.dao.FamilleHome"/>
   
    
    
    <!-- Produit -->
<bean id="produit" class="com.gescom.model.Produit"/>
<bean id="produitHome" class="com.gescom.dao.ProduitHome"/>

<bean id="catalogue" class="com.gescom.model.Catalogue"/>
<bean id="catalogueHome" class="com.gescom.dao.CatalogueHome"/>

<!-- Article -->
<bean id="article" class="com.gescom.model.Article"/>
<bean id="articleHome" class="com.gescom.dao.ArticleHome"/>

<!-- Fournisseur -->
<bean id="fournisseur" class="com.gescom.model.Fournisseur"/>
<bean id="fournisseurHome" class="com.gescom.dao.FournisseurHome"/>

<!-- ArticleVariante -->
<bean id="articleVarianteHome" class="com.gescom.dao.ArticleVarianteHome"/>
<bean id="articleVariante" class="com.gescom.model.ArticleVariante"/>

<!-- Catégorie Article -->
<bean id="categorieArticle" class="com.gescom.model.CategorieArticle"/>
<bean id="categorieArticleHome" class="com.gescom.dao.CategorieArticleHome"/>

<!-- Variante -->
<bean id="variante" class="com.gescom.model.Variante"/>
<bean id="varianteHome" class="com.gescom.dao.VarianteHome"/>


</beans>
